* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #272626; /* Dark background for better contrast */
    font-family: Arial, sans-serif;
    color: white;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#particle-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}