* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #121212; /* Dark background for better contrast */
    font-family: Arial, sans-serif;
    color: white;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}

#particle-container {
    width: 100%;
    height: 100%;
    position: absolute;
}
